$border-color: #325d6d;
$font-stack  : Karla;

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Regular.ttf");
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Italic.ttf");
    font-style : italic;
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-BoldItalic.ttf");
    font-weight: bold;
    font-style : italic;
}

@import 'checkbox';
@import 'dataGrid';
@import 'rollDialog';
@import 'pcSheet';
@import 'npcSheet';
@import 'itemSheets';

.special-messages {
    margin     : 4px;
    font-weight: bold;
    text-align : center;

    .target-number {
        font-size: 1rem;
    }

    .effect {
        font-size: 1.3rem;
    }
}

.tabs {
    .item {

        &.active,
        &:hover {
            color: #9c0b0b;

            text-shadow: none; // Override the default behavior
        }
    }
}

span.csr-message-special {
    font-weight: bold;
    font-size  : large;
}

form.csr {
    display       : flex;
    flex-direction: column;

    overflow   : scroll;
    font-family: $font-stack;

    li.no-pip {
        list-style-type: none;
    }

    h1 input[type="text"] {
        height       : auto;
        margin-bottom: 0.25em;
    }

    h2 {
        border     : none;
        padding-top: 0.5em;

        &:not(.stat) {
            margin-left: 1em;
        }
    }

    label {
        margin: 0 0.5em 0 0.5em;
    }

    input[type="number"] {
        height       : 24px;
        background   : rgba(0, 0, 0, 0.05);
        padding      : 1px 3px;
        margin       : 0;
        color        : #191813;
        border       : 1px solid #7a7971;
        border-radius: 3px;
        user-select  : text;
        text-align   : center;

        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin            : 0;
        }

        &.tier {
            width: calc(1rem + 1ch);
        }
    }

    textarea {
        resize: none;
    }

    //Tabs
    nav {
        margin       : 0.5em 0 0.5em 0;
        border       : 1px solid black;
        border-radius: 8px;
    }

    a.item {
        font-size  : 22px;
        font-weight: bold;
    }

    .editor {
        flex  : 1;
        margin: 5px;
    }
}

textarea:focus {
    outline   : none;
    box-shadow: none;
}