$border-color: #325d6d;
$font-stack  : Karla;

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Regular.ttf");
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-Italic.ttf");
    font-style : italic;
}

@font-face {
    font-family: "Karla";
    src        : url("fonts/Karla/Karla-BoldItalic.ttf");
    font-weight: bold;
    font-style : italic;
}

.special-messages {
    margin     : 4px;
    font-weight: bold;
    text-align : center;

    .target-number {
        font-size: 1rem;
    }

    .effect {
        font-size: 1.3rem;
    }
}

.tabs {
    .item {

        &.active,
        &:hover {
            color: #9c0b0b;

            text-shadow: none; // Override the default behavior
        }
    }
}

span.csr-message-special {
    font-weight: bold;
    font-size  : large;
}

form.csr {
    display       : flex;
    flex-direction: column;

    overflow   : scroll;
    font-family: $font-stack;

    .character-sentence {
        font-size: 1.9em;

        input {
            padding: 1.2rem 0.5rem;
        }

        &>.row {
            margin        : 0;
            padding-bottom: 8px;
        }

        .word {
            padding        : 0;
            display        : flex;
            align-items    : center;
            justify-content: center;
        }
    }

    #pc-sheet-body {
        display       : flex;
        flex-direction: column;

        flex: 1;

        .tab[data-tab] {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 6px;
            }

            &.active {
                flex: 1;

                &.bio {
                    display       : flex;
                    flex-direction: column;

                    &>textarea {
                        height: 100%;
                        resize: none;
                    }
                }
            }
        }
    }

    /* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
    .flewrow {
        display        : flex;
        flex-flow      : row wrap;
        justify-content: flex-start;
    }

    .flexcol {
        display  : flex;
        flex-flow: column nowrap;
    }

    li.no-pip {
        list-style-type: none;
    }

    h1.character {
        font-size     : 24px;
        margin        : 0;
        border        : 0;
        padding-bottom: 0.25em;

        input {
            margin-top: 0.5em;
            height    : auto;

            &.charname {
                font-weight: bold;
                width      : 18ch;
            }

            &.descriptor {
                width: 12ch;
            }

            &.characterType {
                width: 8ch;
            }

            &.focus {
                width: 25ch;
            }
        }
    }

    h1 input[type="text"] {
        height       : auto;
        margin-bottom: 0.25em;
    }

    h2 {
        border     : none;
        padding-top: 0.5em;

        &:not(.stat) {
            margin-left: 1em;
        }
    }

    p.description {
        font-style: italic;
    }

    label {
        margin: 0 0.5em 0 0.5em;
    }

    input[data-dtype="Number"] {
        height       : 24px;
        background   : rgba(0, 0, 0, 0.05);
        padding      : 1px 3px;
        margin       : 0;
        color        : #191813;
        border       : 1px solid #7a7971;
        border-radius: 3px;
        user-select  : text;
        text-align   : center;

        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin            : 0;
        }

        &.tier {
            width: calc(1rem + 1ch);
        }
    }

    &.pc {
        input[data-dtype="Number"] {
            width: 2rem;
        }
    }

    .header {
        margin       : 0;
        border       : 1px solid $border-color;
        border-bottom: none;

        h2,
        h3 {
            font-weight: bold;
        }

        h3 {
            margin-top: 0.25em;
        }

        >div[class^="col-"]:last-child {
            display       : flex;
            flex-direction: column;
        }

        >div[class^="col-"]:not(:last-child),
        .stats {
            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }

            border-bottom: 1px solid $border-color;

            .row {
                margin: 0;

                align-items    : center;
                justify-content: center;

                >div[class^="col-"] {
                    padding: 0;
                }

                .row:first-child {
                    div[class^="col-"] {
                        margin-bottom: 6px;
                    }
                }
            }
        }

        .picture {
            display        : flex;
            align-items    : center;
            justify-content: center;

            >div {
                padding: 0.25em 0.25em 0.25em 0.25em;

                img.profile-img {
                    border: none;
                    width : 100%;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .primary-data {
            label {
                display      : block;
                margin-bottom: 2px;
                font-weight  : bold;
            }

            .current {
                label {
                    font-size    : 1.2rem;
                    margin-bottom: 4px;
                }

                input {
                    font-size: 2.8rem;

                    height: 60px;
                    width : 100px;
                }
            }
        }

        .sub-menu {
            flex: 1;

            .inline {
                display: inline-block;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
            }

            .input-group {
                display       : flex;
                flex-direction: row;

                label {
                    font-weight: bold;
                    font-size  : 1.5em;
                }
            }

            .stats {
                text-align: left;

                &:first-child {
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-around;
                    padding        : 1em;
                }
            }

            .panels {
                padding: 0;

                .hidden {
                    display: none;
                }

                .advancement {
                    .row:first-child {
                        padding-top: 1em;
                        padding-bottom: 4px;
                    }
                }

                .damage-track {
                    .row {
                        padding: 8px 4px;

                        &:first-child {
                            padding-top: 1em;
                        }

                        &:not(:last-child) {
                            text-align: center;
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 1.5em;
                    }
                }

                .recovery {
                    > .row {
                        padding: 8px 4px;

                        &:first-child {
                            padding-top: 1em;
                        }
                    }

                    .roll {
                        .input-group {
                            align-items: center;

                            label,
                            input {
                                flex-grow: 0;
                            }

                            i {
                                margin-left: 0.5em;
                            }
                        }
                    }
                }
            }

            div[class^="col-"] {
                .center {
                    display        : flex;
                    flex-direction : column;
                    align-items    : center;
                    justify-content: center;
                }
            }

            ul {
                padding: 0;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    margin-bottom: 2px;

                    label {
                        margin   : 0;
                        font-size: 1.3em;
                    }
                }
            }

            a.active,
            a:hover {
                color: #9c0b0b;

                text-shadow: none; // Override the default behavior
            }

            input[type="checkbox"] {
                height: 16px;
            }
        }

        div>div.npc-info {
            flex: 0.25;

            input.levelDie {
                width        : 2ch;
                align-content: center;
            }
        }

        div>div.npc-stats {
            flex: 0.5;
        }

        ul {
            text-align: left;

            li input {
                height: 12px;
            }
        }
    }

    div {

        &.pc-info {
            border: 0;
        }

        &.cyphers {
            h2 {
                margin     : 0;
                flex       : 0;
                font-weight: bold;
            }

            textarea {
                overflow: scroll;
            }

            ul {
                padding: 0 0.75em 0 0.75em;

                &>li {
                    padding      : 0.15em;
                    border       : 1px solid darkslategrey;
                    border-radius: 0.25em;

                    &>h4 {
                        font-size  : large;
                        font-weight: bold;
                    }

                    &>p>span,
                    label {
                        font-weight: bold;
                    }

                    &>a {
                        float: right;
                    }

                    & input[type="number"] {
                        width: 3em;
                    }
                }
            }
        }

        div.advances,
        div.recovery {
            input[type="checkbox"] {
                display: inline-block;
            }
        }

        div.stats {
            padding   : 0.3em 0 0.3em 0;
            text-align: center;

            h2 {
                text-transform: capitalize;
                padding-top   : 0;

                button.roll {
                    margin-left     : 1em;
                    background-image: url("/icons/svg/d20-grey.svg"); //!important
                }
            }
        }

        .grid {
            padding: 0 8px;

            .row {
                margin-left : -0.3rem;
                margin-right: -0.3rem;

                border: 1px solid #7a7971;

                &:not(:first-child) {
                    border-top: none;
                }

                div[class^="col-"] {
                    &.center {
                        text-align     : center;
                        justify-content: center;
                    }
                }
            }

            .head,
            .body {
                &>.row {
                    &>div[class^="col-"] {
                        &:not(:last-child) {
                            border-right: 1px solid black;
                        }

                        p {
                            overflow     : hidden;
                            text-overflow: ellipsis;
                            white-space  : nowrap;
                        }
                    }
                }
            }

            .head {
                color      : #f0f0e0;
                text-shadow: 1px 1px #000;

                .row {
                    background: rgba(0, 0, 0, 0.5);
                }

                div[class^="col-"] {
                    display    : flex;
                    align-items: center;
                    padding    : 5px 10px;

                    overflow   : hidden;
                    white-space: nowrap;

                    &[class$="-info"],
                    &[class$="-use"],
                    &[class$="-delete"] {
                        justify-content: center;
                    }

                    &[class$="-actions"] {
                        padding: 0;

                        .row {
                            margin: 0;
                            width : 100%;

                            background: none;
                            border    : none;

                            div[class^="col-"] {
                                justify-content: flex-end;
                                padding        : 0;
                                padding-right  : 6px;
                            }
                        }
                    }
                }

                p,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin : 0;
                    padding: 0;
                }
            }

            .body {
                color: #191813;

                .row {
                    background: rgba(0, 0, 0, 0.05);
                }

                div[class^="col-"] {
                    padding: 5px 10px;

                    // https://css-tricks.com/flexbox-truncated-text/
                    min-width: 0;

                    &[class$="-info"],
                    &[class$="-use"],
                    &[class$="-delete"] {
                        text-align: center;
                    }

                    &[class$="-equip-name"] {
                        display    : flex;
                        align-items: center;
                        padding    : 12px 0;

                        span[class$="-equipped"] {
                            padding: 0 8px;

                            .fa-check-circle {
                                color: #065006;
                            }

                            .fa-times-circle {
                                color: #790b0b;
                            }
                        }

                        span[class$="-name"] {
                            flex: 1;
                        }
                    }

                    &[class$="-actions"] {
                        .row {
                            align-items: center;
                            background : none;
                            border     : none;

                            div[class^="col-"] {
                                padding        : 0;
                                display        : flex;
                                justify-content: flex-end;
                                padding-right  : 4px;
                            }
                        }
                    }
                }
            }
        }

        &.tab.equipment {
            h2 {
                margin     : 0;
                flex       : 0;
                font-weight: bold;
            }
        }
    }

    div.flexrow:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }

    &.sheet-container {
        display       : flex;
        flex-direction: column;

        .sheet-contents {
            flex: 1;

            >.row {
                margin: 0;
                height: 100%;

                div[class^="col-"] {
                    display       : flex;
                    flex-direction: column;
                }

                .row {
                    display    : flex;
                    align-items: center;

                    padding-bottom: 2px;

                    &.vertical-space {
                        padding: 5px 0;
                    }

                    &:first-child {
                        margin-top: 4px;
                    }

                    // Make the last element fill the remaining space
                    &:last-child {
                        flex       : 1;
                        align-items: flex-start;

                        >div {
                            height: 100%;

                            >* {
                                height: 100%;
                            }
                        }
                    }
                }
            }

            label {
                font-weight: bold;
            }

            hr {
                width: 100%;
            }
        }
    }

    textarea {
        resize: none;
    }

    div.item {
        height: 80%;

        label {
            font-weight: bold;
        }

        input[type="number"] {
            width: 4em;
        }

        div {
            display       : inline-block;
            display       : flex;
            flex-direction: column;
            ;

            textarea {
                flex: 1;
            }

            &.img {
                flex        : 0.5;
                margin-right: 0.5em;
            }

            &.description {
                height        : 95%;
                vertical-align: top;
            }
        }

        textarea {
            width     : auto;
            height    : 100%;
            box-sizing: border-box;
            margin    : 0 0.5em 0 0.5em;
        }

        label {
            clear  : both;
            display: block;
            margin : 0.25em 0.5em 0 0.5em;
        }
    }

    //Tabs
    nav {
        margin       : 0.5em 0 0.5em 0;
        border       : 1px solid black;
        border-radius: 8px;
    }

    a.item {
        font-size  : 22px;
        font-weight: bold;
    }

    .editor {
        flex  : 1;
        margin: 5px;
    }
}

textarea:focus {
    outline   : none;
    box-shadow: none;
}