$border-color: #325d6d;
$font-stack  : Ogirema;

.special-messages {
    margin     : 4px;
    font-weight: bold;
    text-align : center;

    .target-number {
        font-size: 1rem;
    }

    .effect {
        font-size: 1.3rem;
    }
}

.tabs {
    .item {

        &.active,
        &:hover {
            color: #9c0b0b;

            text-shadow: none; // Override the default behavior
        }
    }
}

span.csr-message-special {
    font-weight: bold;
    font-size  : large;
}

form.csr {
    overflow   : scroll;
    font-family: $font-stack;

    a i.handle {
        cursor: move;
    }

    /* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
    .flewrow {
        display        : flex;
        flex-flow      : row wrap;
        justify-content: flex-start;
    }

    .flexcol {
        display  : flex;
        flex-flow: column nowrap;
    }

    li {
        list-style-type: none;
    }

    h1.character {
        font-size     : 24px;
        margin        : 0;
        border        : 0;
        padding-bottom: 0.25em;

        input {
            margin-top: 0.5em;
            height    : auto;

            &.charname {
                font-weight: bold;
                width      : 18ch;
            }

            &.descriptor {
                width: 12ch;
            }

            &.characterType {
                width: 8ch;
            }

            &.focus {
                width: 25ch;
            }
        }
    }

    h1 input[type="text"] {
        height       : auto;
        margin-bottom: 0.25em;
    }

    h2 {
        border     : none;
        padding-top: 0.5em;

        &:not(.stat) {
            margin-left: 1em;
        }
    }

    p.description {
        font-style: italic;
    }

    label {
        margin: 0 0.5em 0 0.5em;
    }

    input[data-dtype="Number"] {
        height       : 24px;
        background   : rgba(0, 0, 0, 0.05);
        padding      : 1px 3px;
        margin       : 0;
        color        : #191813;
        border       : 1px solid #7a7971;
        border-radius: 3px;
        user-select  : text;
        text-align   : center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin            : 0;
        }

        &.tier {
            width: calc(1rem + 1ch);
        }
    }

    &.pc {
        input[data-dtype="Number"] {
            width: 2rem;
        }
    }

    div.header {
        border: 1px solid $border-color;

        h2,
        h3 {
            font-weight: bold;
        }

        h3 {
            margin-top: 0.25em;
        }

        div.contents>div>div:not(:last-child) {
            border-right: 1px solid $border-color;
        }

        div.picture {
            border-right: 1px solid $border-color;
            padding     : 0.25em 0.25em 0.25em 0.25em;
            flex        : 0.4;

            img.profile-img {
                border       : none;
                width        : inherit;
                max-width    : 250px;
                max-height   : 400px;
                margin-bottom: 1em;
            }
        }

        div>div.npc-info {
            flex: 0.25;

            input.levelDie {
                width        : 2ch;
                align-content: center;
            }
        }

        div>div.npc-stats {
            flex: 0.5;
        }

        ul {
            text-align: left;

            li input {
                height: 12px;
            }
        }
    }

    div {

        &.pc-info {
            border: 0;
        }

        &.csr {
            h2 {
                margin     : 0;
                flex       : 0;
                font-weight: bold;
            }

            textarea {
                overflow: scroll;
            }

            ul {
                padding: 0 0.75em 0 0.75em;

                &>li {
                    padding      : 0.15em;
                    border       : 1px solid darkslategrey;
                    border-radius: 0.25em;

                    &>h4 {
                        font-size  : large;
                        font-weight: bold;
                    }

                    &>p>span,
                    label {
                        font-weight: bold;
                    }

                    &>a {
                        float: right;
                    }

                    & input[type="number"] {
                        width: 3em;
                    }
                }
            }
        }

        div.advances,
        div.recovery {
            input[type="checkbox"] {
                display: inline-block;
            }
        }

        div.stats {
            padding   : 0.3em 0 0.3em 0;
            text-align: center;

            h2 {
                text-transform: capitalize;
                padding-top   : 0;

                button.roll {
                    margin-left     : 1em;
                    background-image: url("/icons/svg/d20-grey.svg"); //!important
                }
            }
        }

        .grid {
            padding: 0 8px;

            .row {
                border: 1px solid #7a7971;

                div[class^="col-"].center {
                    text-align     : center;
                    justify-content: center;
                }
            }

            .head {
                color      : #f0f0e0;
                text-shadow: 1px 1px #000;

                .row {
                    background: rgba(0, 0, 0, 0.5);
                }

                div[class^="col-"] {
                    display    : flex;
                    align-items: center;
                    padding    : 5px 10px;

                    &[class$="-info"],
                    &[class$="-use"],
                    &[class$="-delete"] {
                        justify-content: center;
                    }

                    &[class$="-actions"] {
                        padding: 0;

                        .row {
                            margin: 0;
                            width : 100%;

                            background: none;
                            border    : none;

                            div[class^="col-"] {
                                justify-content: flex-end;
                                padding        : 0;
                                padding-right  : 6px;
                            }
                        }
                    }
                }

                p,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin : 0;
                    padding: 0;
                }
            }

            .body {
                color: #191813;

                .row {
                    background: rgba(0, 0, 0, 0.05);
                }

                div[class^="col-"] {
                    padding: 5px 10px;

                    // https://css-tricks.com/flexbox-truncated-text/
                    min-width: 0;

                    p {
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        white-space  : nowrap;
                    }

                    &[class$="-info"],
                    &[class$="-use"],
                    &[class$="-delete"] {
                        text-align: center;
                    }

                    &[class$="-drag-name"] {
                        display    : flex;
                        align-items: center;
                        padding    : 0;

                        span[class$="-drag"] {
                            padding: 0 8px;
                        }

                        span[class$="-name"] {
                            flex: 1;
                        }
                    }

                    &[class$="-actions"] {
                        .row {
                            align-items: center;
                            background : none;
                            border     : none;

                            div[class^="col-"] {
                                padding        : 0;
                                display        : flex;
                                justify-content: flex-end;
                                padding-right  : 4px;
                            }
                        }
                    }
                }
            }
        }

        &.tab.equipment {
            h2 {
                margin     : 0;
                flex       : 0;
                font-weight: bold;
            }
        }
    }

    div.flexrow:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }

    &.sheet-container {
        display       : flex;
        flex-direction: column;

        .sheet-contents {
            flex: 1;

            >.row {
                margin: 0;
                height: 100%;

                div[class^="col-"] {
                    display       : flex;
                    flex-direction: column;
                }

                .row {
                    display    : flex;
                    align-items: center;

                    padding-bottom: 2px;

                    &.vertical-space {
                        padding: 5px 0;
                    }

                    // Make the last element fill the remaining space
                    &:last-child {
                        flex       : 1;
                        align-items: flex-start;

                        >div {
                            height: 100%;

                            >* {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    textarea.description {
        // height: 400px;
        resize: none;
    }

    div.item {
        height: 80%;

        label {
            font-weight: bold;
        }

        input[type="number"] {
            width: 4em;
        }

        div {
            display       : inline-block;
            display       : flex;
            flex-direction: column;
            ;

            textarea {
                flex: 1;
            }

            &.img {
                flex        : 0.5;
                margin-right: 0.5em;
            }

            &.description {
                height        : 95%;
                vertical-align: top;
            }
        }

        textarea {
            width     : auto;
            height    : 100%;
            box-sizing: border-box;
            margin    : 0 0.5em 0 0.5em;
        }

        label {
            clear  : both;
            display: block;
            margin : 0.25em 0.5em 0 0.5em;
        }
    }

    //Tabs
    nav {
        margin       : 0.5em 0 0.5em 0;
        border       : 1px solid black;
        border-radius: 8px;
    }

    a.item {
        font-size  : 22px;
        font-weight: bold;
    }

    //Separators, borrowed from https://github.com/Roll20/roll20-character-sheets/blob/master/Numenera/Numenera.css
    hr.sheet-one {
        margin       : 0;
        height       : 20px;
        border-style : solid;
        border-color : #056da1;
        border-width : 1px 1px 0 0;
        border-radius: 20px;
    }

    hr.sheet-one:before {
        display      : block;
        content      : "";
        height       : 20px;
        margin-top   : -21px;
        border-style : solid;
        border-color : #056da1;
        border-width : 0 0 1px 1px;
        border-radius: 20px;
    }

    hr.sheet-two {
        border          : 0;
        height          : 1px;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(5, 109, 161, 1.75), rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(5, 109, 161, 1.75), rgba(0, 0, 0, 0));
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(5, 109, 161, 1.75), rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(5, 109, 161, 1.75), rgba(0, 0, 0, 0));
    }

    hr.sheet-three {
        height       : 20px;
        border-style : solid;
        border-color : $border-color;
        border-width : 1px 0px 0px 1px;
        border-radius: 20px;
    }

    hr.sheet-three:before {
        /* Not really supposed to work, but does */
        display      : block;
        content      : "";
        height       : 20px;
        margin-top   : -21px;
        border-style : solid;
        border-color : $border-color;
        border-width : 0px 1px 1px 0px;
        border-radius: 20px;
    }
}

.gu-mirror {
    // Makes the DnD operation look smoother
    div[class$="-drag"] {
        align-self: center;
    }
}

textarea:focus {
    outline: none;
    box-shadow: none;
}