form.csr.sheet-container {
  display       : flex;
  flex-direction: column;
  
  padding: 4px;
  overflow: auto;

  .sheet-contents {
    flex: 1;

    >.row {
      margin: 0;
      height: 100%;

      div[class^="col-"] {
        display       : flex;
        flex-direction: column;
      }

      .row {
        display    : flex;
        align-items: center;

        padding-bottom: 2px;

        &.vertical-space {
          padding: 5px 0;
        }

        &:first-child {
          margin-top: 4px;
        }

        // Make the last element fill the remaining space
        &:last-child {
          flex       : 1;
          align-items: flex-start;

          >div {
            height: 100%;

            >* {
              height: 100%;
            }
          }
        }

        .flex-right {
          align-items: flex-end;
        }
      }
    }

    label {
      font-weight: bold;
    }

    hr {
      width: 100%;
    }
  }
}