form.csr.npc {
  padding: 1em;

  .picture {
    img.profile-img {
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .input-group {
    display       : flex;
    flex-direction: row;
    align-items   : center;

    label {
      font-weight: bold;
      font-size  : 1.3em;
    }
  }

  input.npc-name {
    font-size  : 1.5em;
    font-weight: bold;

    height: 1.5em;
  }

  .npc-level {

    label,
    input {
      font-size  : 1.5em;
      font-weight: bold;
    }

    input {
      height: 1.5em;
    }
  }

  .npc-stats {
    .row {
      text-align: center;

      &:not(:last-child) {
        padding-bottom: 6px;
      }

      label {
        font-weight: bold;
      }
    }
  }

  hr {
    width: 100%;
  }

  #npc-sheet-body {
    display       : flex;
    flex-direction: column;

    flex: 1;
    
    .tab[data-tab] {
      &.active {
        flex: 1;

        display       : flex;
          flex-direction: column;
      }
    }
  }
}