<div class="grid abilities">
  <div class="head">
      <div class="row">
          <div class="col-xs-3 ability-name">
              <a class="sort-header" data-prop="name" data-field="name">
                  <p>Name {{{sortIcon data.sorts.abilities 'name'}}}</p>
              </a>
          </div>
          <div class="col-xs-2 ability-type">
              <a class="sort-header" data-prop="data.data.isAction" data-field="isAction">
                  <p>Type {{{sortIcon data.sorts.abilities 'isAction'}}}</p>
              </a>
          </div>
          <div class="col-xs-2 ability-stat">
              <a class="sort-header" data-prop="data.data.cost.pool" data-field="stat">
                  <p>Stat {{{sortIcon data.sorts.abilities 'stat'}}}</p>
              </a>
          </div>
          <div class="col-xs-2 ability-cost">
              <a class="sort-header" data-prop="data.data.cost.amount" data-field="cost">
                  <p>Cost {{{sortIcon data.sorts.abilities 'cost'}}}</p>
              </a>
          </div>
          <div class="col-xs-2 ability-range">
              <a class="sort-header" data-prop="data.data.range" data-field="range">
                  <p>Range {{{sortIcon data.sorts.abilities 'range'}}}</p>
              </a>
          </div>
          <div class="col-xs-1 ability-actions">
              <div class="row">
                  <div class="col-xs-offset-6 col-xs-6">
                      <p><a class="ability-create" title="Create"><i class="fas fa-plus"></i></a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="body">
      {{#each data.items.abilities as |ability|}}
      <div class="row middle-xs ability" data-item-id="{{ability._id}}"
          data-prder="{{ability.data.order}}">
          <div class="col-xs-3 ability-name">
              <p>{{{strOrSpace ability.name}}}</p>
          </div>
          <div class="col-xs-2 ability-type">
              {{#if ability.data.isAction}}
              <p class="ability-type">Action</p>
              {{else}}
              <p class="ability-type">Enabler</p>
              {{/if}}
          </div>
          <div class="col-xs-2 ability-stat">
              <p>{{{strOrSpace ability.data.cost.pool}}}</p>
          </div>
          <div class="col-xs-2 ability-cost">
              <p>{{{strOrSpace ability.data.cost.amount}}}</p>
          </div>
          <div class="col-xs-2 ability-range">
              <p>{{{strOrSpace ability.data.range}}}</p>
          </div>
          <div class="col-xs-1 ability-actions">
              <div class="row">
                  <div class="col-xs-4 ability-info">
                      <a class="ability-info-btn" data-action="info" title="Info"><i
                              class="fas fa-info-circle"></i></a>
                  </div>
                  <div class="col-xs-4 ability-use">
                      <a class="ability-use-btn" data-action="use" title="Use"><i
                              class="fas fa-dice-d20"></i></a>
                  </div>
                  <div class="col-xs-4 ability-delete">
                      <a class="ability-delete-btn" data-action="delete" title="Delete"><i
                              class="fas fa-trash"></i></a>
                  </div>
              </div>
          </div>
      </div>
      {{else}}
      <div class="row">
          <div class="col-xs-12">
              <p class="empty-grid">
                  No abilities yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                  the top right of the table or pick one from the Items Directory or a Compendium and drag
                  it here.
              </p>
          </div>
      </div>
      {{/each}}
  </div>
</div>