<div class="character-sentence">
  <div class="row">
      <div class="col-xs-4">
          <div class="row">
              <div class="col-xs-10">
                  <input type="text" name="name" value="{{actor.name}}" class="charname" />
              </div>
              <div class="col-xs-2 word">is a</div>
          </div>
      </div>
      <div class="col-xs-5">
          <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor"
              placeholder="Descriptor" data-type="String" />
      </div>
      <div class="col-xs-3">
          <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType"
              placeholder="Type" data-type="String" />
      </div>
  </div>
  <div class="row">
      <div class="col-xs-1 word">who</div>
      <div class="col-xs-11">
          <input type="text" name="data.focus" value="{{data.focus}}" class="focus" placeholder="Focus"
              data-type="String" />
      </div>
  </div>
</div>