<div class="row header">
    <div class="col-xs-4 picture">
        <div>
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row primary-data">
            {{#each data.stats as |stat id|}}
            <div class="col-xs-4 stats" data-stat="{{id}}">
                <div class="row">
                    <div class="col-xs-8 current">
                        <div class="pool-action">
                            <label for="data.stats.{{id}}.pool.current">{{allCaps id}}</label>
                            <a class="roll-pool" data-pool="{{id}}"><i class="fas fa-dice-d20"></i></a>
                        </div>

                        <input name="data.stats.{{id}}.pool.current" type="number" value="{{stat.pool.current}}"
                            data-dtype="Number" min="0" max="{{stat.pool.maximum}}" placeholder="0" />
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <label for="data.stats.{{id}}.pool.maximum">Max</label>
                            <div class="col-xs-12">
                                <input name="data.stats.{{id}}.pool.maximum" type="number" value="{{stat.pool.maximum}}"
                                    class="stats" data-dtype="Number" min="0" max="99" placeholder="0" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="data.stats.{{id}}.edge">Edge</label>
                            <div class="col-xs-12">
                                <input name="data.stats.{{id}}.edge" type="number" value="{{stat.edge}}" class="stats"
                                    data-dtype="Number" min="0" max="99" placeholder="0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row sub-menu">
            <div class="col-xs-4 stats selector">
                <div>
                    <a class="advancement {{#if (eq subMenu 'advancement')}}active{{/if}}">
                        <h2>Advancement</h2>
                    </a>
                </div>
                <div>
                    <a class="damage-track {{#if (eq subMenu 'damage-track')}}active{{/if}}">
                        <h2>Damage Track</h2>
                    </a>
                </div>
                <div>
                    <a class="recovery {{#if (eq subMenu 'recovery')}}active{{/if}}">
                        <h2>Recovery</h2>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 stats panels">
                <div class="advancement {{#if (neq subMenu 'advancement')}}hidden{{/if}}">
                    <div class="row">
                        <div class="col-xs-4 center">
                            <div class="input-group">
                                <label for="data.tier">Tier</label>
                                <input type="number" name="data.tier" value="{{data.tier}}" placeholder="1" min="1"
                                    max="6" data-dtype="Number" class="tier" />
                            </div>
                        </div>
                        <div class="col-xs-4 center">
                            <div class="input-group">
                                <label for="data.effort">Effort</label>
                                <input type="number" name="data.effort" value="{{data.effort}}" placeholder="1" min="1"
                                    max="99" data-dtype="Number" class="tier" /></h2>
                            </div>
                        </div>
                        <div class="col-xs-4 center">
                            <div class="input-group">
                                <label for="data.xp">XP</label>
                                <input type="number" name="data.xp" value="{{data.xp}}" placeholder="0" min="0" max="99"
                                    data-dtype="Number" /></h2>
                            </div>
                        </div>
                    </div>

                    <ul>
                        {{#each advances as |advance|}}
                        <li class="no-pip">
                            <input type="checkbox" name="data.advances.{{advance.name}}"
                                id="data.advances.{{advance.name}}" data-dtype="Boolean"
                                {{checked advance.isChecked}} />
                            <label for="data.advances.{{advance.name}}">{{advance.label}}</label>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="damage-track {{#if (neq subMenu 'damage-track')}}hidden{{/if}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <select name="data.damageTrack">
                                {{#select data.damageTrack}}
                                {{#each damageTrackData as |track id|}}
                                <option value="{{id}}" data-dtype="Number">{{this.label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="description">{{damageTrackDescription}}</p>
                        </div>
                    </div>
                </div>

                <div class="recovery {{#if (neq subMenu 'recovery')}}hidden{{/if}}">
                    <div class="row">
                        <div class="col-xs-6 center">
                            <div class="roll">
                                <div class="input-group">
                                    <label for="data.recovery">1d6&nbsp;+</label>
                                    <input type="number" name="data.recovery" value="{{data.recovery}}" min="0" max="99"
                                        data-dtype="Number" />

                                    <a class="recovery-roll"><i class="fas fa-dice-d20"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 center">
                            <div class="input-group">
                                <label for="data.armor">Armor</label>
                                <input type="number" name="data.armor" value="{{data.armor}}" class="armor" min="0"
                                    max="99" data-dtype="Number" />
                            </div>
                        </div>
                    </div>

                    <ul>
                        {{#each recoveriesData as |recovery|}}
                        <li class="no-pip">
                            <input type="checkbox" name="data.recoveries.{{recovery.key}}"
                                id="data.recoveries.{{recovery.key}}" data-dtype="Boolean"
                                {{checked recovery.checked}} />
                            <label for="data.recoveries.{{recovery.key}}">{{recovery.label}}</label>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>