<div class="row header">
  <div class="col-xs-3 picture">
      <div>
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>
  </div>
  <div class="col-xs-9">
      <div class="row">
          {{#each data.stats as |stat id|}}
          <div class="col-xs-4 stats" data-stat="{{id}}">
              <h2 class="stat">{{id}}</h2>
              <h3>
                  Current <input name="data.stats.{{id}}.pool.current" type="number" value="{{stat.pool.current}}"
                      class="stats" data-dtype="Number" min="0" max="{{stat.pool.maximum}}" placeholder="0" />
                  /
                  Pool <input name="data.stats.{{id}}.pool.maximum" type="number" value="{{stat.pool.maximum}}"
                      class="stats" data-dtype="Number" min="0" max="99" placeholder="0" />
              </h3>

              <h3>Edge <input name="data.stats.{{id}}.edge" type="number" value="{{stat.edge}}" class="stats"
                      data-dtype="Number" min="0" max="99" placeholder="0" /></h3>
          </div>
          {{/each}}
      </div>

      <div class="row">
          <div class="col-xs-4 stats">
              <h2>Tier <input type="number" name="data.tier" value="{{data.tier}}" placeholder="1" min="1"
                      max="6" data-dtype="Number" class="tier" />
                  Effort <input type="number" name="data.effort" value="{{data.effort}}" placeholder="1"
                      min="1" max="99" data-dtype="Number" class="tier" />
              </h2>
              <h2>Damage track</h2>
              <p>
                  <select name="data.damageTrack">
                      {{#select data.damageTrack}}
                      {{#each damageTrackData as |track id|}}
                      <option value="{{id}}" data-dtype="Number">{{this.label}}</option>
                      {{/each}}
                      {{/select}}
                  </select>
              </p>
              <p class="description">{{damageTrackDescription}}</p>
          </div>
          <div class="col-xs-4 stats advances">
              <h2>Advancement</h2>
              <h3>
                  <input type="number" name="data.xp" value="{{data.xp}}" placeholder="0" min="0" max="99"
                      data-dtype="Number" /> XP
              </h3>
              <ul>
                  {{#each advances as |advance|}}
                  <li class="no-pip">
                      <input type="checkbox" name="data.advances.{{advance.name}}"
                          id="data.advances.{{advance.name}}" data-dtype="Boolean"
                          {{checked advance.isChecked}} />
                      <label for="data.advances.{{advance.name}}">{{advance.label}}</label>
                  </li>
                  {{/each}}
              </ul>
          </div>
          <div class="col-xs-4 stats recovery">
              <h2>Recovery</h2>
              <h3>
                  1d6 + <input type="number" name="data.recovery" value="{{data.recovery}}" min="0" max="99"
                      data-dtype="Number" />
              </h3>

              <ul>
                  {{#each recoveriesData as |recovery|}}
                  <li class="no-pip">
                      <input type="checkbox" name="data.recoveries.{{recovery.key}}" id="{{recovery.label}}"
                          {{checked recovery.checked}} />
                      <label for="recoveries.action">{{recovery.label}}</label>
                  </li>
                  {{/each}}
              </ul>
              <h2>Armor&nbsp;<input type="number" name="data.armor" value="{{data.armor}}" class="armor"
                      min="0" max="99" data-dtype="Number" />
              </h2>
          </div>
      </div>
  </div>
</div>