<form class="{{cssClass}} csr pc" autocomplete="off">
    <div class="character-sentence">
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-10">
                        <input type="text" name="name" value="{{actor.name}}" class="charname" />
                    </div>
                    <div class="col-xs-2 word">is a</div>
                </div>
            </div>
            <div class="col-xs-5">
                <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor"
                    placeholder="Descriptor" data-type="String" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType"
                    placeholder="Type" data-type="String" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 word">who</div>
            <div class="col-xs-11">
                <input type="text" name="data.focus" value="{{data.focus}}" class="focus" placeholder="Focus"
                    data-type="String" />
            </div>
        </div>
    </div>

    <div class="flexcol">
        <div class="flexrow header">
            <div class="picture">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <div class="contents flexcol">
                <div class="flexrow">
                    {{#each data.stats as |stat id|}}
                    <div class="stats" data-stat="{{id}}">
                        <h2 class="stat">{{id}}</h2>
                        <h3>
                            Current <input name="data.stats.{{id}}.pool.current" type="number"
                                value="{{stat.pool.current}}" class="stats" data-dtype="Number" min="0"
                                max="{{stat.pool.maximum}}" placeholder="0" />
                            /
                            Pool <input name="data.stats.{{id}}.pool.maximum" type="number"
                                value="{{stat.pool.maximum}}" class="stats" data-dtype="Number" min="0" max="99"
                                placeholder="0" />
                        </h3>

                        <h3>Edge <input name="data.stats.{{id}}.edge" type="number" value="{{stat.edge}}" class="stats"
                                data-dtype="Number" min="0" max="99" placeholder="0" /></h3>
                    </div>
                    {{/each}}
                </div>
                <div class="flexrow">
                    <div class="stats">
                        <h2>Tier <input type="number" name="data.tier" value="{{data.tier}}" placeholder="1" min="1"
                                max="6" data-dtype="Number" class="tier" />
                            Effort <input type="number" name="data.effort" value="{{data.effort}}" placeholder="1"
                                min="1" max="99" data-dtype="Number" class="tier" />
                        </h2>
                        <h2>Damage track</h2>
                        <p>
                            <select name="data.damageTrack">
                                {{#select data.damageTrack}}
                                {{#each damageTrackData as |track id|}}
                                <option value="{{id}}" data-dtype="Number">{{this.label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </p>
                        <p class="description">{{damageTrackDescription}}</p>
                    </div>
                    <div class="stats advances">
                        <h2>Advancement</h2>
                        <h3>
                            <input type="number" name="data.xp" value="{{data.xp}}" placeholder="0" min="0" max="99"
                                data-dtype="Number" /> XP
                        </h3>
                        <ul>
                            {{#each advances as |advance|}}
                            <li class="no-pip">
                                <input type="checkbox" name="data.advances.{{advance.name}}"
                                    id="data.advances.{{advance.name}}" data-dtype="Boolean"
                                    {{checked advance.isChecked}} />
                                <label for="data.advances.{{advance.name}}">{{advance.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="stats recovery">
                        <h2>Recovery</h2>
                        <h3>
                            1d6 + <input type="number" name="data.recovery" value="{{data.recovery}}" min="0" max="99"
                                data-dtype="Number" />
                        </h3>

                        <ul>
                            {{#each recoveriesData as |recovery|}}
                            <li class="no-pip">
                                <input type="checkbox" name="data.recoveries.{{recovery.key}}" id="{{recovery.label}}"
                                    {{checked recovery.checked}} />
                                <label for="recoveries.action">{{recovery.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                        <h2>Armor&nbsp;<input type="number" name="data.armor" value="{{data.armor}}" class="armor"
                                min="0" max="99" data-dtype="Number" />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="csr">Cyphers</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="bio">Bio</a>
    </nav>

    <section id="pc-sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid skills">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-8 skill-name">
                            <a class="sort-header" data-prop="name" data-field="name"><p>Name {{{sortIcon data.sorts.skills 'name'}}}</p></a>
                        </div>
                        <div class="col-xs-1 skill-stat">
                            <a class="sort-header" data-prop="data.data.stat" data-field="stats"><p>Stat {{{sortIcon data.sorts.skills 'stats'}}}</p></a>
                        </div>
                        <div class="col-xs-2 skill-training">
                            <!-- TODO Make training sortable -->
                            <p>Training</p>
                        </div>
                        <div class="col-xs-1 skill-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="skill-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.skills as |skill|}}
                    <div class="row middle-xs skill" data-item-id="{{skill._id}}" data-prder="{{skill.data.order}}">
                        <div class="col-xs-8 skill-name">
                            <p>{{{strOrSpace skill.name}}}</p>
                        </div>
                        <div class="col-xs-1 skill-stat">
                            <p>{{{strOrSpace skill.data.stat}}}</p>
                        </div>
                        <div class="col-xs-2 skill-training">
                            <p>
                                {{#if skill.data.inability}}
                                Inability
                                {{/if}}

                                {{#if skill.data.untrained}}
                                Untrained
                                {{/if}}

                                {{#if skill.data.trained}}
                                Trained
                                {{/if}}

                                {{#if skill.data.specialized}}
                                Specialized
                                {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-1 skill-actions">
                            <div class="row">
                                <div class="col-xs-4 skill-info">
                                    <a class="skill-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-4 skill-use">
                                    <a class="skill-use-btn" data-action="use" title="Use"><i
                                            class="fas fa-dice-d20"></i></a>
                                </div>
                                <div class="col-xs-4 skill-delete">
                                    <a class="skill-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No skills yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="grid abilities">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-2 ability-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 ability-type">
                            <p>Type</p>
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>Stat</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>Cost</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>Range</p>
                        </div>
                        <div class="col-xs-4 ability-notes">
                            <p>Notes</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="ability-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.abilities as |ability|}}
                    <div class="row middle-xs ability" data-item-id="{{ability._id}}"
                        data-prder="{{ability.data.order}}">
                        <div class="col-xs-2 ability-name">
                            <p>{{{strOrSpace ability.name}}}</p>
                        </div>
                        <div class="col-xs-1 ability-type">
                            {{#if ability.data.isAction}}
                            <p class="ability-type">Action</p>
                            {{else}}
                            <p class="ability-type">Enabler</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>{{{strOrSpace ability.data.cost.pool}}}</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>{{{strOrSpace ability.data.cost.amount}}}</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>{{{strOrSpace ability.data.range}}}</p>
                        </div>
                        <div class="col-xs-4 ability-notes">
                            <p>{{{strOrSpace ability.data.notes}}}</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-4 ability-info">
                                    <a class="ability-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-4 ability-use">
                                    <a class="ability-use-btn" data-action="use" title="Use"><i
                                            class="fas fa-dice-d20"></i></a>
                                </div>
                                <div class="col-xs-4 ability-delete">
                                    <a class="ability-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No abilities yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab csr" data-group="primary" data-tab="csr">
            <h3>Cypher Limit <input type="number" name="data.cypherLimit" value="{{data.cypherLimit}}" min="1" max="99"
                    class="cypher-limit" data-dtype="Number" /></h3>

            <h2>Cyphers</h2>
            <div class="grid cyphers">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-6 cypher-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 cypher-level">
                            <p>Level</p>
                        </div>
                        <div class="col-xs-4 cypher-form">
                            <p>Form</p>
                        </div>
                        <div class="col-xs-1 cypher-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="cypher-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.cyphers as |cypher|}}
                    <div class="row middle-xs cypher" data-item-id="{{cypher._id}}" data-prder="{{cypher.data.order}}">
                        <div class="col-xs-6 cypher-name">
                            {{#if cypher.data.identified}}
                            <p>{{{strOrSpace cypher.name}}}</p>
                            {{else}}
                            <p>Unidentified Cypher</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 cypher-levelDie">
                            {{#if cypher.data.identified}}
                            <p>{{{strOrSpace cypher.data.levelDie}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-4 cypher-form">
                            {{#if cypher.data.identified}}
                            <p>{{{strOrSpace cypher.data.form}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 cypher-actions">
                            <div class="row">
                                {{#if (or ../isGM cypher.data.identified)}}
                                <div class="col-xs-6">
                                    <a class="cypher-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                {{/if}}
                                <div class="{{ternary (or ../isGM cypher.data.identified) 'col-xs-6' 'col-xs-12'}}">
                                    <a class="cypher-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No cyphers yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and
                                drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <h2>Artifacts</h2>
            <div class="grid artifacts">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-4 artifact-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 artifact-level">
                            <p>Level</p>
                        </div>
                        <div class="col-xs-4 artifact-form">
                            <p>Form</p>
                        </div>
                        <div class="col-xs-2 artifact-depletion">
                            <p>Depletion</p>
                        </div>
                        <div class="col-xs-1 artifact-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="artifact-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.artifacts as |artifact|}}
                    <div class="row middle-xs artifact" data-item-id="{{artifact._id}}"
                        data-prder="{{artifact.data.order}}">
                        <div class="col-xs-4 artifact-name">
                            {{#if artifact.data.identified}}
                            <p>{{{strOrSpace artifact.name}}}</p>
                            {{else}}
                            <p>Unidentified Artifact</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 artifact-levelDie">
                            {{#if artifact.data.identified}}
                            <p>{{{strOrSpace artifact.data.levelDie}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-4 artifact-form">
                            {{#if artifact.data.identified}}
                            <p>{{{strOrSpace artifact.data.form}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        {{#if artifact.data.depletion.isDepleting }}
                        <div class="col-xs-2 artifact-depletion">
                            {{#if artifact.data.identified}}
                            <p>{{artifact.data.depletion.threshold}} in {{artifact.data.depletion.die}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        {{/if}}
                        <div class="col-xs-1 artifact-actions">
                            <div class="row">
                                {{#if (or ../isGM artifact.data.identified)}}
                                <div class="col-xs-6">
                                    <a class="artifact-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                {{/if}}
                                <div class="{{ternary (or ../isGM artifact.data.identified) 'col-xs-6' 'col-xs-12'}}">
                                    <a class="artifact-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No artifacts yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and
                                drag it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <h2>Oddities</h2>
            <div class="grid oddities">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-3 oddity-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-8 oddity-description">
                            <p>Description</p>
                        </div>
                        <div class="col-xs-1 oddity-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="oddity-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.oddities as |oddity|}}
                    <div class="row middle-xs oddity" data-item-id="{{oddity._id}}" data-prder="{{oddity.data.order}}">
                        <div class="col-xs-3 oddity-name">
                            <p>{{{strOrSpace oddity.name}}}</p>
                        </div>
                        <div class="col-xs-8 oddity-description">
                            <p>{{{strOrSpace oddity.data.notes}}}</p>
                        </div>
                        <div class="col-xs-1 oddity-actions">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="oddity-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="oddity-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No oddities yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and
                                drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <div>
                <h2>Weapons</h2>
                <div class="grid weapons">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-2 weapon-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>Weight</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>Type</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>Damage</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>Range</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 weapon-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="weapon-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.weapons as |weapon|}}
                        <div class="row middle-xs weapon" data-item-id="{{weapon._id}}"
                            data-prder="{{weapon.data.order}}">
                            <div class="col-xs-2 weapon-equip-name">
                                <span class="weapon-equipped">
                                    <input type="hidden" name="data.items.weapons.{{weapon._id}}.data.equipped"
                                        value={{weapon.data.equipped}} data-dtype="Boolean" />
                                    <a class="weapon-equip-btn" title="{{ternary weapon.data.equipped 'Unequip' 'Equip'}}"><i
                                            class="far {{ternary weapon.data.equipped 'fa-times-circle' 'fa-check-circle'}}"></i></a>
                                </span>
                                <span class="weapon-name">{{{strOrSpace weapon.name}}}</span>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>{{{strOrSpace weapon.data.weight}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>{{{strOrSpace weapon.data.weaponType}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>{{{strOrSpace weapon.data.damage}}}</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>{{{strOrSpace weapon.data.range}}}</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>{{{strOrSpace weapon.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="weapon-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="weapon-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No weapons yet. Create one by clicking the <i class="fas fa-plus"></i> icon
                                    on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <h2>Armor</h2>
                <div class="grid armor">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-2 armor-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 armor-weight">
                                <p>Weight</p>
                            </div>
                            <div class="col-xs-1 armor-armor">
                                <p>Armor</p>
                            </div>
                            <div class="col-xs-2 armor-speed">
                                <p>Speed Effort Cost</p>
                            </div>
                            <div class="col-xs-5 armor-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 armor-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="weapon-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.armor as |armor|}}
                        <div class="row middle-xs armor" data-item-id="{{armor._id}}" data-prder="{{armor.data.order}}">
                            <div class="col-xs-2 armor-equip-name">
                                <span class="armor-equipped">
                                    <input type="hidden" name="data.items.armor.{{armor._id}}.data.equipped"
                                        value={{armor.data.equipped}} data-dtype="Boolean" />
                                    <a class="armor-equip-btn" title="{{ternary armor.data.equipped 'Unequip' 'Equip'}}"><i
                                            class="far {{ternary armor.data.equipped 'fa-times-circle' 'fa-check-circle'}}"></i></a>
                                </span>
                                <span class="armor-name">{{{strOrSpace armor.name}}}</span>
                            </div>
                            <div class="col-xs-1 armor-weight">
                                <p>{{{strOrSpace armor.data.weight}}}</p>
                            </div>
                            <div class="col-xs-1 armor-armor">
                                <p>{{{strOrSpace armor.data.armor}}}</p>
                            </div>
                            <div class="col-xs-2 armor-speed">
                                <p>{{{strOrSpace armor.data.additionalSpeedEffortCost}}}</p>
                            </div>
                            <div class="col-xs-5 armor-notes">
                                <p>{{{strOrSpace armor.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 armor-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="armor-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="armor-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No armor yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <h2>Gear</h2>
                <div class="grid gear">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-3 gear-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>Price</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="gear-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.gear as |gear|}}
                        <div class="row middle-xs gear" data-item-id="{{gear._id}}" data-prder="{{gear.data.order}}">
                            <div class="col-xs-3 gear-name">
                                <p>{{{strOrSpace gear.name}}}</p>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>{{{strOrSpace gear.data.price}}}</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>{{{strOrSpace gear.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="gear-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="gear-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No gear yet. Create one by clicking the <i class="fas fa-plus"></i> icon on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab bio" data-group="primary" data-tab="bio">
            {{editor content=data.background target="data.background" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>