<form class="{{cssClass}} csr pc" autocomplete="off">
    <h1 class="character">
        <input type="text" name="name" value="{{actor.name}}" class="charname" />
        is a
        <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor"
            placeholder="Descriptor" data-type="String" />
        <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType"
            placeholder="Type" data-type="String" />
        who <input type="text" name="data.focus" value="{{data.focus}}" class="focus" placeholder="Focus"
            data-type="String" />
    </h1>
    <div class="flexcol">
        <div class="flexrow header">
            <div class="picture">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <div class="contents flexcol">
                <div class="flexrow">
                    {{#each data.stats as |stat id|}}
                    <div class="stats" data-stat="{{id}}">
                        <h2 class="stat">{{id}}</h2>
                        <h3>
                            Current <input name="data.stats.{{id}}.pool.current" type="number"
                                value="{{stat.pool.current}}" class="stats" data-dtype="Number" min="0"
                                max="{{stat.pool.maximum}}" placeholder="0" />
                            /
                            Pool <input name="data.stats.{{id}}.pool.maximum" type="number"
                                value="{{stat.pool.maximum}}" class="stats" data-dtype="Number" min="0" max="99"
                                placeholder="0" />
                        </h3>

                        <h3>Edge <input name="data.stats.{{id}}.edge" type="number" value="{{stat.edge}}" class="stats"
                                data-dtype="Number" min="0" max="99" placeholder="0" /></h3>
                    </div>
                    {{/each}}
                </div>
                <div class="flexrow">
                    <div class="stats">
                        <h2>Tier <input type="number" name="data.tier" value="{{data.tier}}" placeholder="1" min="1"
                                max="6" data-dtype="Number" class="tier" />
                            Effort <input type="number" name="data.effort" value="{{data.effort}}" placeholder="1"
                                min="1" max="99" data-dtype="Number" class="tier" />
                        </h2>
                        <h2>Damage track</h2>
                        <p>
                            <select name="data.damageTrack">
                                {{#select data.damageTrack}}
                                {{#each damageTrackData as |track id|}}
                                <option value="{{id}}" data-dtype="Number">{{this.label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </p>
                        <p class="description">{{damageTrackDescription}}</p>
                    </div>
                    <div class="stats advances">
                        <h2>Advancement</h2>
                        <h3>
                            <input type="number" name="data.xp" value="{{data.xp}}" placeholder="0" min="0" max="99"
                                data-dtype="Number" /> XP
                        </h3>
                        <ul>
                            {{#each advances as |advance|}}
                            <li class="no-pip">
                                <input type="checkbox" name="data.advances.{{advance.name}}"
                                    id="data.advances.{{advance.name}}" data-dtype="Boolean"
                                    {{checked advance.isChecked}} />
                                <label for="data.advances.{{advance.name}}">{{advance.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="stats recovery">
                        <h2>Recovery</h2>
                        <h3>
                            1d6 + <input type="number" name="data.recovery" value="{{data.recovery}}" min="0" max="99"
                                data-dtype="Number" />
                        </h3>

                        <ul>
                            {{#each recoveriesData as |recovery|}}
                            <li class="no-pip">
                                <input type="checkbox" name="data.recoveries.{{recovery.key}}" id="{{recovery.label}}"
                                    {{checked recovery.checked}} />
                                <label for="recoveries.action">{{recovery.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                        <h2>Armor&nbsp;<input type="number" name="data.armor" value="{{data.armor}}" class="armor"
                                min="0" max="99" data-dtype="Number" />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="csr">Cyphers</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="bio">Bio</a>
    </nav>

    <section id="pc-sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid skills">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-8 skill-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 skill-stat">
                            <p>Stat</p>
                        </div>
                        <div class="col-xs-2 skill-training">
                            <p>Training</p>
                        </div>
                        <div class="col-xs-1 skill-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="skill-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.skills as |skill|}}
                    <div class="row middle-xs skill" data-item-id="{{skill._id}}" data-prder="{{skill.data.order}}">
                        <div class="col-xs-8 skill-drag-name">
                            <span class="skill-drag">
                                <a><i class="fas fa-grip-vertical handle"></i></a>
                            </span>
                            <span class="skill-name">
                                <p>{{{strOrSpace skill.name}}}</p>
                            </span>
                        </div>
                        <div class="col-xs-1 skill-stat">
                            <p>{{{strOrSpace skill.data.stat}}}</p>
                        </div>
                        <div class="col-xs-2 skill-training">
                            <p>
                                {{#if skill.data.inability}}
                                Inability
                                {{/if}}

                                {{#if skill.data.untrained}}
                                Untrained
                                {{/if}}

                                {{#if skill.data.trained}}
                                Trained
                                {{/if}}

                                {{#if skill.data.specialized}}
                                Specialized
                                {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-1 skill-actions">
                            <div class="row">
                                <div class="col-xs-4 skill-info">
                                    <a class="skill-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-4 skill-use">
                                    <a class="skill-use-btn" data-action="use" title="Use"><i
                                            class="fas fa-dice-d20"></i></a>
                                </div>
                                <div class="col-xs-4 skill-delete">
                                    <a class="skill-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No skills yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="grid abilities">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-2 ability-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 ability-type">
                            <p>Type</p>
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>Stat</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>Cost</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>Range</p>
                        </div>
                        <div class="col-xs-4 ability-notes">
                            <p>Notes</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="ability-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.abilities as |ability|}}
                    <div class="row middle-xs ability" data-item-id="{{ability._id}}"
                        data-prder="{{ability.data.order}}">
                        <div class="col-xs-2 ability-drag-name">
                            <span class="ability-drag">
                                <a><i class="fas fa-grip-vertical handle"></i></a>
                            </span>
                            <span class="ability-name">
                                <p>{{{strOrSpace ability.name}}}</p>
                            </span>
                        </div>
                        <div class="col-xs-1 ability-type">
                            {{#if ability.data.isAction}}
                            <p class="ability-type">Action</p>
                            {{else}}
                            <p class="ability-type">Enabler</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>{{{strOrSpace ability.data.cost.pool}}}</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>{{{strOrSpace ability.data.cost.amount}}}</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>{{{strOrSpace ability.data.range}}}</p>
                        </div>
                        <div class="col-xs-4 ability-notes">
                            <p>{{{strOrSpace ability.data.notes}}}</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-4 ability-info">
                                    <a class="ability-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-4 ability-use">
                                    <a class="ability-use-btn" data-action="use" title="Use"><i
                                            class="fas fa-dice-d20"></i></a>
                                </div>
                                <div class="col-xs-4 ability-delete">
                                    <a class="ability-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No abilities yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab csr" data-group="primary" data-tab="csr">
            <h2>Cyphers</h2>
            <h3>Cypher Limit <input type="number" name="data.cypherLimit" value="{{data.cypherLimit}}" min="1" max="99"
                    class="cypher-limit" data-dtype="Number" /></h3>
            <div class="grid cyphers">
                <div class="head">
                    <div class="row">
                        {{#if isGM}}
                        <div class="col-xs-5 cypher-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 cypher-identified">
                            <p>Identified</p>
                        </div>
                        {{else}}
                        <div class="col-xs-6 cypher-name">
                            <p>Name</p>
                        </div>
                        {{/if}}
                        <div class="col-xs-1 cypher-level">
                            <p>Level</p>
                        </div>
                        <div class="col-xs-4 cypher-form">
                            <p>Form</p>
                        </div>
                        <div class="col-xs-1 cypher-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="cypher-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.cyphers as |cypher|}}
                    <div class="row middle-xs cypher" data-item-id="{{cypher._id}}" data-prder="{{cypher.data.order}}">
                        {{#if ../isGM}}
                        <div class="col-xs-5 cypher-drag-name">
                        {{else}}
                        <div class="col-xs-6 cypher-drag-name">
                        {{/if}}
                            <span class="cypher-drag">
                                <a><i class="fas fa-grip-vertical handle"></i></a>
                            </span>
                            <span class="cypher-name">
                                <p>{{{strOrSpace cypher.name}}}</p>
                            </span>
                        </div>
                        {{#if ../isGM}}
                        <div class="col-xs-1 cypher-identified">
                            <input type="checkbox" name="data.items.cyphers.{{cypher._id}}.data.identified"
                                data-dtype="Boolean" {{checked cypher.data.identified}} />
                        </div>
                        {{/if}}
                        <div class="col-xs-1 cypher-level">
                            {{#if cypher.data.identified}}
                            <p>{{{strOrSpace cypher.data.level}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-4 cypher-form">
                            {{#if cypher.data.identified}}
                            <p>{{{strOrSpace cypher.data.form}}}</p>
                            {{else}}
                            <p>?</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 cypher-actions">
                            <div class="row">
                                {{#if cypher.data.identified}}
                                <div class="col-xs-6">
                                    <a class="cypher-info-btn" data-action="info" title="Info"><i
                                            class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-6">
                                {{else}}
                                <div class="col-xs-12">
                                {{/if}}
                                    <a class="cypher-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No cyphers yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and
                                drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <!-- <ul class="cyphers">
                {{#each data.items.cyphers as |cypher|}}
                <li class="cypher" data-item-id={{cypher._id}} data-order={{cypher.data.order}}>
                    <a class="cypher-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{cypher.name}}
                    </h4>
                    <p>
                        {{#if cypher.editable}}
                        <label>Identified?
                            <input type="checkbox" name="data.items.cyphers.{{cypher._id}}.data.identified"
                                data-dtype="Boolean" {{checked cypher.data.identified}} />
                        </label>
                        <label>Level
                            <input type="number" name="data.items.cyphers.{{cypher._id}}.data.level"
                                value="{{cypher.data.level}}" min="1" max="99" data-dtype="Number" />
                        </label>
                        {{else}}
                        <span>Level</span> {{cypher.data.level}}
                        {{/if}}
                    </p>
                    <p>
                        <span>Form</span> {{cypher.data.form}}
                    </p>
                    <p>
                        <span>Effect</span> {{cypher.data.effect}}
                    </p>
                </li>
                {{else}}
                No cyphers.
                {{/each}}
            </ul> -->

            <h2>Artifacts</h2>
            <ul class="artifacts">
                {{#each data.items.artifacts as |artifact|}}
                <li class="artifact" data-item-id={{artifact._id}} data-order={{artifact.data.order}}>
                    <a class="artifact-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{artifact.name}}
                    </h4>
                    <p>
                        {{#if artifact.editable}}
                        <label>Identified?
                            <input type="checkbox" name="data.items.artifacts.{{artifact._id}}.data.identified"
                                data-dtype="Boolean" {{checked artifact.data.identified}} />
                        </label>
                        <label>Level
                            <input type="number" name="data.items.artifacts.{{artifact._id}}.data.level" min="1"
                                max="99" value="{{artifact.data.level}}" />
                        </label>
                        {{else}}
                        <span>Level</span> {{artifact.data.level}}
                        {{/if}}
                    </p>
                    <p>
                        <span>Form</span> {{artifact.data.form}}
                    </p>
                    <p>
                        <span>Effect</span> {{artifact.data.effect}}
                    </p>
                    {{#if artifact.data.depletion.isDepleting }}
                    <p>
                        <span>Depletion</span> {{artifact.data.depletion.threshold}} in {{artifact.data.depletion.die}}
                    </p>
                    {{/if}}
                </li>
                {{else}}
                No artifacts.
                {{/each}}
            </ul>

            <h2>Oddities</h2>
            <ul class="oddities">
                {{#each data.items.oddities as |oddity|}}
                <li class="oddity" data-item-id={{oddity._id}} data-order={{oddity.data.order}}>
                    <a class="oddity-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{oddity.name}}
                    </h4>
                    <span>
                        {{oddity.data.notes}}
                    </span>
                </li>
                {{else}}
                No oddities.
                {{/each}}
            </ul>
        </div>

        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <div>
                <h2>Weapons</h2>
                <div class="grid weapons">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-2 weapon-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>Weight</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>Type</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>Damage</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>Range</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 weapon-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="weapon-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.weapons as |weapon|}}
                        <div class="row middle-xs weapon" data-item-id="{{weapon._id}}"
                            data-prder="{{weapon.data.order}}">
                            <div class="col-xs-2 weapon-drag-name">
                                <span class="weapon-drag">
                                    <a><i class="fas fa-grip-vertical handle"></i></a>
                                </span>
                                <span class="weapon-name">
                                    <p>{{{strOrSpace weapon.name}}}</p>
                                </span>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>{{{strOrSpace weapon.data.weight}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>{{{strOrSpace weapon.data.weaponType}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>{{{strOrSpace weapon.data.damage}}}</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>{{{strOrSpace weapon.data.range}}}</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>{{{strOrSpace weapon.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 weapon-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="weapon-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="weapon-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No weapons yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon
                                    on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <h2>Armor</h2>
                <div class="grid armor">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-2 armor-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 armor-weight">
                                <p>Weight</p>
                            </div>
                            <div class="col-xs-1 armor-armor">
                                <p>Armor</p>
                            </div>
                            <div class="col-xs-2 armor-speed">
                                <p>Speed Effort Cost</p>
                            </div>
                            <div class="col-xs-5 armor-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 armor-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="weapon-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.armor as |armor|}}
                        <div class="row middle-xs armor" data-item-id="{{armor._id}}" data-prder="{{armor.data.order}}">
                            <div class="col-xs-2 armor-drag-name">
                                <span class="armor-drag">
                                    <a><i class="fas fa-grip-vertical handle"></i></a>
                                </span>
                                <span class="armor-name">
                                    <p>{{{strOrSpace armor.name}}}</p>
                                </span>
                            </div>
                            <div class="col-xs-1 armor-weight">
                                <p>{{{strOrSpace armor.data.weight}}}</p>
                            </div>
                            <div class="col-xs-1 armor-armor">
                                <p>{{{strOrSpace armor.data.armor}}}</p>
                            </div>
                            <div class="col-xs-2 armor-speed">
                                <p>{{{strOrSpace armor.data.additionalSpeedEffortCost}}}</p>
                            </div>
                            <div class="col-xs-5 armor-notes">
                                <p>{{{strOrSpace armor.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 armor-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="armor-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="armor-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No armor yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <h2>Gear</h2>
                <div class="grid gear">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-3 gear-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>Price</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="gear-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.gear as |gear|}}
                        <div class="row middle-xs gear" data-item-id="{{gear._id}}" data-prder="{{gear.data.order}}">
                            <div class="col-xs-3 gear-drag-name">
                                <span class="gear-drag">
                                    <a><i class="fas fa-grip-vertical handle"></i></a>
                                </span>
                                <span class="gear-name">
                                    <p>{{{strOrSpace gear.name}}}</p>
                                </span>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>{{{strOrSpace gear.data.price}}}</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>{{{strOrSpace gear.data.notes}}}</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="gear-info-btn" data-action="info" title="Info"><i
                                                class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="gear-delete" data-action="delete" title="Delete"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No gear yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                    the top right of the table or pick one from the Items Directory or a Compendium and
                                    drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab bio" data-group="primary" data-tab="bio">
            <input id="trix" value="{{data.background}}" type="hidden" name="data.background">
            <trix-editor input="trix"></trix-editor>
        </div>
    </section>
</form>