<form class="{{cssClass}} csr pc" autocomplete="off">
    <h1 class="character">
        <input type="text" name="name" value="{{actor.name}}" class="charname" />
        is a
        <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor"
            placeholder="Descriptor" data-type="String" />
        <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType"
            placeholder="Type" data-type="String" />
        who <input type="text" name="data.focus" value="{{data.focus}}" class="focus" placeholder="Focus"
            data-type="String" />
    </h1>
    <div class="flexcol">
        <div class="flexrow header">
            <div class="picture">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <div class="contents flexcol">
                <div class="flexrow">
                    {{#each data.stats as |stat id|}}
                    <div class="stats" data-stat="{{id}}">
                        <h2 class="stat">{{id}}</h2>
                        <h3>
                            Current <input name="data.stats.{{id}}.pool.current" type="number"
                                value="{{stat.pool.current}}" class="stats" data-dtype="Number" min="0"
                                max="{{stat.pool.maximum}}" placeholder="0" />
                            /
                            Pool <input name="data.stats.{{id}}.pool.maximum" type="number"
                                value="{{stat.pool.maximum}}" class="stats" data-dtype="Number" min="0" max="99"
                                placeholder="0" />
                        </h3>

                        <h3>Edge <input name="data.stats.{{id}}.edge" type="number" value="{{stat.edge}}" class="stats"
                                data-dtype="Number" min="0" max="99" placeholder="0" /></h3>
                    </div>
                    {{/each}}
                </div>
                <div class="flexrow">
                    <div class="stats">
                        <h2>Tier <input type="number" name="data.tier" value="{{data.tier}}" placeholder="1" min="1"
                                max="6" data-dtype="Number" class="tier" />
                            Effort <input type="number" name="data.effort" value="{{data.effort}}" placeholder="1" min="1" max="99"
                                data-dtype="Number" class="tier" />
                        </h2>
                        <h2>Damage track</h2>
                        <p>
                            <select name="data.damageTrack">
                                {{#select data.damageTrack}}
                                {{#each damageTrackData as |track id|}}
                                <option value="{{id}}" data-dtype="Number">{{this.label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </p>
                        <p class="description">{{damageTrackDescription}}</p>
                    </div>
                    <div class="stats advances">
                        <h2>Advancement</h2>
                        <h3>
                            <input type="number" name="data.xp" value="{{data.xp}}" placeholder="0" min="0" max="99"
                                data-dtype="Number" /> XP
                        </h3>
                        <ul>
                            {{#each advances as |advance|}}
                            <li>
                                <input type="checkbox" name="data.advances.{{advance.name}}"
                                    id="data.advances.{{advance.name}}" data-dtype="Boolean"
                                    {{checked advance.isChecked}} />
                                <label for="data.advances.{{advance.name}}">{{advance.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="stats recovery">
                        <h2>Recovery</h2>
                        <h3>
                            1d6 + <input type="number" name="data.recovery" value="{{data.recovery}}" min="0" max="99"
                                data-dtype="Number" />
                        </h3>

                        <ul>
                            {{#each recoveriesData as |recovery|}}
                            <li>
                                <input type="checkbox" name="data.recoveries.{{recovery.key}}" id="{{recovery.label}}"
                                    {{checked recovery.checked}} />
                                <label for="recoveries.action">{{recovery.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                        <h2>Armor&nbsp;<input type="number" name="data.armor" value="{{data.armor}}" class="armor" min="0" max="99"
                                data-dtype="Number" />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="csr">Cyphers</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="bio">Bio</a>
    </nav>

    <section id="pc-sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            <table class="skills">
                <thead>
                    <tr>
                        <td class="skill-name">Name</td>
                        <td class="skill-stat">Stat</td>
                        <td class="skill-inability">Inability</td>
                        <td class="skill-untrained">Untrained</td>
                        <td class="skill-trained">Trained</td>
                        <td class="skill-specialized">Specialized</td>
                        <td><a class="skill-create" data-action="create" title="Create"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.items.skills as |skill| }}
                    <tr class="skill" data-item-id="{{skill._id}}" data-order="{{skill.data.order}}">
                        <td class="skill-name">
                            <div class="skill-name-wrapper">
                                <a><i class="fas fa-grip-vertical handle"></i></a>
                                <input type="text" name="data.items.skills.{{skill._id}}.name" placeholder="Skill Name"
                                    value="{{skill.name}}" class="skill-name-input" />
                            </div>
                        </td>
                        <td class="skill-stat">
                            <select name="data.items.skills.{{skill._id}}.data.stat">
                                {{#select skill.data.stat}}
                                {{#each stats}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </td>
                        <td class="skill-inability">
                            <input type="checkbox" name="data.items.skills.{{skill._id}}.data.inability"
                                {{checked skill.data.inability}} data-dtype="Boolean" />
                        </td>
                        <td class="skill-untrained">
                            <input class="skill-untrained" type="checkbox"
                                name="data.items.skills.{{skill._id}}.data.untrained" {{checked skill.data.untrained}}
                                data-dtype="Boolean" />
                        </td>
                        <td class="skill-trained">
                            <input class="skill-trained" type="checkbox"
                                name="data.items.skills.{{skill._id}}.data.trained" {{checked skill.data.trained}}
                                data-dtype="Boolean" />
                        </td>
                        <td class="skill-specialized">
                            <input class="skill-specialized" type="checkbox"
                                name="data.items.skills.{{skill._id}}.data.specialized"
                                {{checked skill.data.specialized}} data-dtype="Boolean" />
                        </td>
                        <td>
                            <a class="skill-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="grid abilities">
                <div class="head">
                    <div class="row">
                        <div class="col-xs-3 ability-name">
                            <p>Name</p>
                        </div>
                        <div class="col-xs-1 ability-type">
                            <p>Type</p>
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>Stat</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>Cost</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>Range</p>
                        </div>
                        <div class="col-xs-3 ability-notes">
                            <p>Notes</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p><a class="ability-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    {{#each data.items.abilities as |ability|}}
                    <div class="row middle-xs ability" data-item-id="{{ability._id}}" data-prder="{{ability.data.order}}">
                        <div class="col-xs-3 ability-drag-name">
                            <div class="row">
                                <div class="col-xs-1 ability-drag">
                                    <a><i class="fas fa-grip-vertical handle"></i></a>
                                </div>
                                <div class="col-xs-11 ability-name">
                                    <p>{{ability.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1 ability-type">
                            {{#if ability.data.isAction}}
                            <p class="ability-type">Action</p>
                            {{else}}
                            <p class="ability-type">Enabler</p>
                            {{/if}}
                        </div>
                        <div class="col-xs-1 ability-stat">
                            <p>{{ability.data.cost.pool}}</p>
                        </div>
                        <div class="col-xs-1 ability-cost">
                            <p>{{ability.data.cost.amount}}</p>
                        </div>
                        <div class="col-xs-2 ability-range">
                            <p>{{ability.data.range}}</p>
                        </div>
                        <div class="col-xs-3 ability-notes">
                            <p>{{ability.data.notes}}</p>
                        </div>
                        <div class="col-xs-1 ability-actions">
                            <div class="row">
                                <div class="col-xs-4 ability-info">
                                    <a class="ability-info-btn" data-action="info" title="Info"><i class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xs-4 ability-use">
                                    <a class="ability-use-btn" data-action="use" title="Use"><i class="fas fa-dice-d20"></i></a>
                                </div>
                                <div class="col-xs-4 ability-delete">
                                    <a class="ability-delete" data-action="delete" title="Delete"><i
                                        class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                No abilities yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab csr" data-group="primary" data-tab="csr">
            <h2>Cyphers</h2>
            <h3>Cypher Limit <input type="number" name="data.cypherLimit" value="{{data.cypherLimit}}" min="1" max="99"
                    class="cypher-limit" data-dtype="Number" /></h3>
            <ul class="cyphers">
                {{#each data.items.cyphers as |cypher|}}
                <li class="cypher" data-item-id={{cypher._id}} data-order={{cypher.data.order}}>
                    <a class="cypher-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{cypher.name}}
                    </h4>
                    <p>
                        {{#if cypher.editable}}
                        <label>Identified?
                            <input type="checkbox" name="data.items.cyphers.{{cypher._id}}.data.identified"
                                data-dtype="Boolean" {{checked cypher.data.identified}} />
                        </label>
                        <label>Level
                            <input type="number" name="data.items.cyphers.{{cypher._id}}.data.level"
                                value="{{cypher.data.level}}" min="1" max="99" data-dtype="Number" />
                        </label>
                        {{else}}
                        <span>Level</span> {{cypher.data.level}}
                        {{/if}}
                    </p>
                    <p>
                        <span>Form</span> {{cypher.data.form}}
                    </p>
                    <p>
                        <span>Effect</span> {{cypher.data.effect}}
                    </p>
                </li>
                {{else}}
                No cyphers.
                {{/each}}
            </ul>

            <hr class="sheet-one" />

            <h2>Artifacts</h2>
            <ul class="artifacts">
                {{#each data.items.artifacts as |artifact|}}
                <li class="artifact" data-item-id={{artifact._id}} data-order={{artifact.data.order}}>
                    <a class="artifact-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{artifact.name}}
                    </h4>
                    <p>
                        {{#if artifact.editable}}
                        <label>Identified?
                            <input type="checkbox" name="data.items.artifacts.{{artifact._id}}.data.identified"
                                data-dtype="Boolean" {{checked artifact.data.identified}} />
                        </label>
                        <label>Level
                            <input type="number" name="data.items.artifacts.{{artifact._id}}.data.level" min="1" max="99"
                                value="{{artifact.data.level}}" />
                        </label>
                        {{else}}
                        <span>Level</span> {{artifact.data.level}}
                        {{/if}}
                    </p>
                    <p>
                        <span>Form</span> {{artifact.data.form}}
                    </p>
                    <p>
                        <span>Effect</span> {{artifact.data.effect}}
                    </p>
                    {{#if artifact.data.depletion.isDepleting }}
                    <p>
                        <span>Depletion</span> {{artifact.data.depletion.threshold}} in {{artifact.data.depletion.die}}
                    </p>
                    {{/if}}
                </li>
                {{else}}
                No artifacts.
                {{/each}}
            </ul>

            <hr class="sheet-one" />

            <h2>Oddities</h2>
            <ul class="oddities">
                {{#each data.items.oddities as |oddity|}}
                <li class="oddity" data-item-id={{oddity._id}} data-order={{oddity.data.order}}>
                    <a class="oddity-delete" data-action="delete" title="Delete"><i class="fas fa-trash"></i></a>
                    <h4>
                        <a><i class="fas fa-grip-vertical handle"></i></a>
                        {{oddity.name}}
                    </h4>
                    <span>
                        {{oddity.data.notes}}
                    </span>
                </li>
                {{else}}
                No oddities.
                {{/each}}
            </ul>
        </div>

        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <div>
                <h2>Weapons</h2>
                <div class="grid weapons">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-2 weapon-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>Weight</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>Type</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>Damage</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>Range</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 weapon-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="weapon-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.weapons as |weapon|}}
                        <div class="row middle-xs weapon" data-item-id="{{weapon._id}}" data-prder="{{weapon.data.order}}">
                            <div class="col-xs-2 weapon-drag-name">
                                <div class="row">
                                    <div class="col-xs-2 weapon-drag">
                                        <a><i class="fas fa-grip-vertical handle"></i></a>
                                    </div>
                                    <div class="col-xs-10 weapon-name">
                                        <p>{{weapon.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 weapon-weight">
                                <p>{{weapon.data.weight}}</p>
                            </div>
                            <div class="col-xs-1 weapon-type">
                                <p>{{weapon.data.weaponType}}</p>
                            </div>
                            <div class="col-xs-1 weapon-damage">
                                <p>{{weapon.data.damage}}</p>
                            </div>
                            <div class="col-xs-2 weapon-range">
                                <p>{{weapon.data.range}}</p>
                            </div>
                            <div class="col-xs-4 weapon-notes">
                                <p>{{weapon.data.notes}}</p>
                            </div>
                            <div class="col-xs-1 wepaon-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="weapon-info-btn" data-action="info" title="Info"><i class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="weapon-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <tr>
                            <td colspan="8">
                                No weapons yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                the top right of the table or pick one from the Items Directory or a Compendium and drag
                                it here.
                            </td>
                        </tr>
                        {{/each}}
                    </div>
                </div>

                <h2>Gear</h2>
                <div class="grid gear">
                    <div class="head">
                        <div class="row">
                            <div class="col-xs-3 gear-name">
                                <p>Name</p>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>Price</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>Notes</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-offset-6 col-xs-6">
                                        <p><a class="gear-create" title="Create"><i class="fas fa-plus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        {{#each data.items.gear as |gear|}}
                        <div class="row middle-xs gear" data-item-id="{{gear._id}}" data-prder="{{gear.data.order}}">
                            <div class="col-xs-3 gear-drag-name">
                                <div class="row">
                                    <div class="col-xs-2 gear-drag">
                                        <a><i class="fas fa-grip-vertical handle"></i></a>
                                    </div>
                                    <div class="col-xs-10 gear-name">
                                        <p>{{gear.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 gear-price">
                                <p>{{gear.data.price}}</p>
                            </div>
                            <div class="col-xs-7 gear-notes">
                                <p>{{gear.data.notes}}</p>
                            </div>
                            <div class="col-xs-1 gear-actions">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="gear-info-btn" data-action="info" title="Info"><i class="fas fa-info-circle"></i></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a class="gear-delete" data-action="delete" title="Delete"><i
                                            class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    No gear yet. Create one by clicking the <a><i class="fas fa-plus"></i></a> icon on
                                    the top right of the table or pick one from the Items Directory or a Compendium and drag
                                    it here.
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </>
        </div>

        <div class="tab description" data-group="primary" data-tab="bio">
            <textarea name="data.background">{{data.background}}</textarea>
        </div>
    </section>
</form>