<form class="{{cssClass}} csr npc" autocomplete="off" id="npc-sheet-{{actor._id}}">
    <div class="row">
        <div class="col-xs-4">
            <div class="picture">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
        </div>
        <div class="col-xs-8 npc-stats">
            <div class="row">
                <div class="col-xs-8">
                    <input type="text" name="name" value="{{actor.name}}" class="npc-name" />
                </div>
                <div class="col-xs-4">
                    <div class="input-group npc-level">
                        <label for="data.level">Level</label>
                        <input type="number" name="data.level" value="{{data.level}}" class="level" data-dtype="Number" min="1" max="99" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-xs-3 flex-center">
                    <label for="data.health.max">Health</label>
                    <input type="number" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" min="0" max="999" />
                </div>
                <div class="col-xs-2 flex-center">
                    <label for="data.armor">Armor</label>      
                    <input type="number" name="data.armor" value="{{data.armor}}" data-dtype="Number" min="0" max="99" />
                </div>
                <div class="col-xs-2 flex-center">
                    <label for="data.damage">Damage</label>
                    <input type="number" name="data.damage" value="{{data.damage}}" data-dtype="Number" min="0" max="99" />
                </div>
                <div class="col-xs-5 flex-center">
                    <label for="data.movement">Movement</label>
                    <select name="data.movement">
                        {{#select data.movement}}
                        {{#each ranges}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <hr />

            <div class="ro">
                <label for="data.modifications">Modifications</label>
                <textarea name="data.modifications" rows="4">{{data.modifications}}</textarea>
            </div>
        </div>
    </div>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="use">Use</a>
        <a class="item" data-tab="environment">Environment</a>
        <a class="item" data-tab="loot">Loot</a>
    </nav>

    <section id="npc-sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab combat" data-group="primary" data-tab="combat">
            {{editor content=data.combat target="data.combat" button=true owner=owner editable=editable}}
        </div>

        <div class="tab use" data-group="primary" data-tab="use">
            {{editor content=data.use target="data.use" button=true owner=owner editable=editable}}
        </div>

        <div class="tab environment" data-group="primary" data-tab="environment">
            {{editor content=data.environment target="data.environment" button=true owner=owner editable=editable}}
        </div>

        <div class="tab loot" data-group="primary" data-tab="loot">
            {{editor content=data.loot target="data.loot" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>