<form class="{{cssClass}} csr sheet-container" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="Ability Name" /></h1>

    <div class="sheet-contents">
        <div class="row">
            <div class="col-xs-3">
                <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <label>
                            <select name="data.isAction" data-dtype="Boolean">
                                {{#select data.isAction}}
                                <option value="true">This ability is an Action</option>
                                <option value="false">This ability is an Enabler</option>
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>

                <hr />

                {{#if data.isAction}}
                <div class="row">
                    <div class="col-xs-7">
                        <label>Cost</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" name="data.cost.amount" value="{{data.cost.amount}}" min="0"
                            data-dtype="Number" />
                    </div>
                    <div class="col-xs-3">
                        <select name="data.cost.pool" data-dtype="String">
                            {{#select data.cost.pool}}
                            {{#each data.stats}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />
                {{/if}}

                <div class="row">
                    <div class="col-xs-3">
                        <label>Category</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" name="data.category" value="{{data.category}}"
                            placeholder="Category" title="Category (eg. Type, Focus, etc.)" />
                    </div>
                    <div class="col-xs-5">
                        <input type="text" name="data.categoryValue" value="{{data.categoryValue}}"
                            placeholder="Category Value" title="Category Value (eg. Nano, Jack, Masters Weaponry, etc.)" />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-10">
                        <label>Tier</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" name="data.tier" value="{{data.tier}}" data-dtype="Number" />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-8">
                        <label>Range</label>
                    </div>
                    <div class="col-xs-4">
                        <select name="data.range" data-dtype="String">
                            {{#select data.range}}
                            {{#each data.ranges}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row vertical-space">
                    <div class="col-xs-12">
                        <label>Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>