<form class="{{cssClass}} csr sheet-container" autocomplete="off">
    <h1><input type="text" name="name" value="{{data.name}}" placeholder="Cypher Name" /></h1>

    <div class="sheet-contents">
        <div class="row">
            <div class="col-xs-3">
                <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-10">
                        <label>Identified</label>
                    </div>
                    <div class="col-xs-2" style="display: flex; align-items: flex-end">
                        <input type="checkbox" name="data.identified" data-dtype="Boolean" {{checked data.identified}} />
                    </div>
                </div>

                <div class="row vertical-space">
                    <div class="col-xs-9">
                        <label>Level</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" name="data.levelDie" value="{{data.levelDie}}" data-dtype="String" />
                    </div>
                </div>

                <div class="row vertical-space">
                    <div class="col-xs-3">
                        <label>Form</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" name="data.form" value="{{data.form}}" data-dtype="String" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label>Effect</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea name="data.effect">{{data.effect}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>