<form class="{{cssClass}} csr sheet-container" autocomplete="off" id="oddity-sheet-{{item._id}}">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="Oddity Name" /></h1>

    <div class="sheet-contents">
        <div class="row">
            <div class="col-xs-3">
                <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-9">
                        <label>Quantity</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="number" name="data.quantity" value="{{data.quantity}}" class="quantity" data-dtype="Number" />
                    </div>
                </div>

                <hr />
                
                <div class="row vertical-space">
                    <div class="col-xs-12">
                        <label>Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>