<form class="{{cssClass}} csr" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="Item Name" /></h1>

    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="skill">
            <label>Stat</label>
            <select name="data.stat">
                {{#select data.stat}}
                {{#each stats}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>

            <label>Training</label>
            <select class="select-skill-level" name="data.skillLevel">
                {{#select data.skillLevel}}
                {{#each skillLevels}}
                <option value="{{@key}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>

            <div class="description">
                <label>Description</label>
                <textarea id="data.notes" name="data.notes">{{data.notes}}</textarea>
            </div>
        </div>
    </div>
</form>
