<form class="{{cssClass}} csr sheet-container" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="Skill Name" /></h1>

    <div class="sheet-contents">
        <div class="row">
            <div class="col-xs-3">
                <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-7">
                        <label>Stat</label>
                    </div>
                    <div class="col-xs-5 flex-right">
                        <select name="data.stat">
                            {{#select data.stat}}
                            {{#each stats}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-7">
                        <label>Training</label>
                    </div>
                    <div class="col-xs-5 flex-right">
                        <select class="select-skill-level" name="data.training">
                            {{#select data.training}}
                            {{#each skillLevels}}
                            <option value="{{@key}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row vertical-space">
                    <div class="col-xs-12">
                        <label>Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
