<form class="{{cssClass}} csr sheet-container" autocomplete="off" id="weapon-sheet-{{item._id}}">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="Weapon Name" /></h1>

    <div class="sheet-contents">
        <div class="row">
            <div class="col-xs-3">
                <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-9">
                        <label>Quantity</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="number" name="data.quantity" value="{{data.quantity}}" class="quantity" data-dtype="Number" />
                    </div>
                </div>

                <hr />
                
                <div class="row">
                    <div class="col-xs-7">
                        <label>Weight</label>
                    </div>
                    <div class="col-xs-5 flex-right">
                        <select name="data.weight">
                            {{#select data.weight}}
                            {{#each weights}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-7">
                        <label>Type</label>
                    </div>
                    <div class="col-xs-5 flex-right">
                        <select name="data.weaponType">
                            {{#select data.weaponType}}
                            {{#each weaponTypes}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-10">
                        <label>Damage</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" name="data.damage" value="{{data.damage}}" data-dtype="Number" />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-7">
                        <label>Range</label>
                    </div>
                    <div class="col-xs-5 flex-right">
                        <select name="data.range">
                            {{#select data.range}}
                            {{#each ranges}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-9">
                        <label>Price</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number" />
                    </div>
                </div>

                <hr />

                <div class="row vertical-space">
                    <div class="col-xs-12">
                        <label>Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>